@font-face{
  font-family: Billabong;
  src: url(../fonts/Billabong.ttf) ;

}

:root{
  --ca6: 219,219,219;
  --i1d: 38,38,38;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
}

body {
  background: #fafafa;
  height: 100vh;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
  flex-wrap: center;
}

.main-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 140px);
  .image {
    position: relative;  
    .change-image {
      position: absolute;
      top: 100px;
      left: 151px;
      transition: ease-in-out 500ms all;
    }
  }
  .forms{
    display: flex;
    flex-direction: column;
    .form{
      width: 390px;
      height: 410px;
      background: #fff;
      border: 1px solid rgba(var(--b6a,219,219,219),1);
      border-radius: 1px;
      margin-bottom: 10px;
      .form-elemans{
        display: flex;
        flex-direction: column;
        img{
          width: 175px;
          margin: 37px 98px 22px;
        }
        .label-before {
          line-height: 20px;
          font-size: 11px;
          top: 2px;
          padding: 0 6px;
          left: 41px;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        .field {
          position: relative;
          label::before {
            content: attr(title);
            position: absolute;
            top: 0;
            left: 50px;
            line-height: 40px;
            font-size: 12px;
            color: rgb(97, 97, 97);
            transition: 300ms all;
          }
          input {
            width: 79%;
            background: #fafafa;
            color: rgba(38,38,38,.6);
            border: 1px solid rgba(var(--ca6,219,219,219),1);
            border-radius: 4px;
            margin: 3px 40px;
            font-size: 12px;
            padding: 9px 8px 7px 8px;
            box-sizing: border-box;
            color: #000;
            &:valid {
              outline: 0;
              border-color: rgb(136, 136, 136);
              padding: 14px 0 2px 8px!important;
            }
            &:valid + label::before {
              @extend .label-before;
              content: attr(data-title);
            }
            &:valid + label::before {
              @extend .label-before;
              color: rgba(38,38,38,.6);
            }
        }
        a.show{
          position: absolute;
          top: 10px;
          right: 56px;
          font-weight: 500;
          display: none;
          cursor: pointer;
        }
        &:focus{
          background: red;
          a{
            &:first-child{
              display: block;
            }
          }
        }
      }  
        button{
          width: 79%;
          margin: 8px 40px;
          margin-top: 14px;
          padding: 5px 9px;
          border-radius: 4px;
          font-weight: 600;
          color: #fff;
          background: rgb(158, 216, 255);
        }
        .or{
          display: flex;
          flex-direction: row;
          margin: 10px 40px 18px;
          justify-content: space-between;
          align-items: center;
          .line{
            width: 105px;
            height: 1px;
            background: #c5c5c5;
          }
          .or-text{
            font-size: 12px;
            text-align: center;
            color: #999;
            font-weight: 600;
          }
        }
        .facebook-login{
          margin-top: 8px;
          a{
            display: flex;
            align-items: center;
            justify-content: center;
            .fb-logo{
              height: 30px;
              img{
                height: 16px;
                width: 16px;
                margin: 7px;
              }
            }
            .fb-text{
              p{
                font-size: 14px;
                color: #385185;
                font-weight: 500;
              }
            }
          }
        }
        .pass-forget{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 22px;
          a{
            p{
              font-size: 12px;
              color: #00376b;
            }
          }
        }
      }
  }
  .form-add{
      width: 390px;
      height: 63px;
      background: #fff;
      border: 1px solid rgba(var(--b6a,219,219,219),1);
      border-radius: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
    .new-account{
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        font-size: 14px;
        &.kayıtol{
          margin-left: 4px;
          color: #0095f6;
          font-weight: 600;
        }
      }
    }
  }
  .app-download{
    p{
      font-size: 14px;
      text-align: center;
      margin: 20px auto;
    }
  }
  .app-image{
    display: flex;
    justify-content: center;
    img{
      height: 40px;
      &:first-child{
        margin-right: 10px;
      }
    }
  }
} 
}
footer{
  .labels{
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li{
        margin-right: 14px;
        
        p{
          color: #8e8e8e;
          font-size: 12px;
          line-height: 24px;
        }
      }
    }
  }
  .footer-end{
    display: flex;
    justify-content: center;
    p{
      color: #8e8e8e;
      font-size: 12px;
      margin: 16px 18px;
    }
    .language{
      p{
        margin: 16px 6px;
      }
      margin: 0;
      padding: 0;
      display: flex;
      color: #8e8e8e;
      align-items: center;
    }
  }
}

@media screen and (max-width: 886px) {
  .main-area{
    .image {
      display: none;
      visibility: hidden; 
      /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
}

@media screen and (max-width: 505px) {
  .main-area{
    .forms{
      .form{
        border: none;
      }
      .form-add{
        border: none;
      }
    }
  }
  footer{
    margin-top: 60px;
  }
}
